@font-face {
  font-family: Montserrat-Bold;
  src: url("../../assets/fonts/Montserrat-Bold.ttf") format("truetype");
};

@font-face {
  font-family: Montserrat-Regular;
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
};

@font-face {
  font-family: Quicksand-Bold;
  src: url("../../assets/fonts/Quicksand-Bold.ttf") format("truetype");
};

@font-face {
  font-family: Quicksand-Regular;
  src: url("../../assets/fonts/Quicksand-Regular.ttf") format("truetype");
};