extends ../../layouts/main
extends ../../blocks/color/color
extends ../../blocks/type/type

block variables
  - var title = "Colors and types";
  - var discription = "fonts and colors";

body.container
  .wrapper
    block color
    block type