@import "../../blocks/color/color.scss";
@import "../../blocks/type/type.scss";

.container {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
  padding: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
