block color
.color
  .color__case
    .color__box_dark-shade-100
    .color__discription
      .color__name Dark-shade-100
      .color__code #1F2041
  .color__case
    .card__box_dark-shade-75
    .card__discription
      .card__name Dark-shade-75
      .card__code #1F2041
  .color__case
    .card__box_dark-shade-50
    .card__discription
      .card__name Dark-shade-50
      .card__code #1F2041
  .color__case
    .card__box_dark-shade-25
    .card__discription
      .card__name Dark-shade-25
      .card__code #1F2041
  .color__case
    .card__box_dark-shade-05
    .card__discription
      .card__name Dark-shade-05
      .card__code #1F2041
  .color__case
    .card__box_purple
    .card__discription
      .card__name Purple
      .card__code #BC9CFF
  .color__case
    .card__box_green
    .card__discription
      .card__name Green
      .card__code #6FCF97