block type

.type
  .type__text.type__text_size_h1
    .type__tag h1
    .type__task This one is the sub-section or widget title
  .type__text.type__text_size_h2
    .type__tag h2
    .type__task Next one is the item title inside widgets
  .type__text.type__text_size_h3
    .type__tag h3
    .type__task This is a label or CTA text
  .type__text.type__text_size_body
    .type__tag body
    .type__task.type__task_weight This is the body text which is used for most of the design, like paragraphs, lists, etc.